name: Build, test and deliver container

on: 
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    name: Java 17 build, test, deliver container
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: corretto
          cache: maven
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file


      - name: Start MongoDB for integration test
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-username: citizix
          mongodb-password: S3cret
          mongodb-port: 27017
      
      - name: Build, test and package project
        run: mvn -B package --file pom.xml

      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Build
        run: docker build -t ${{ secrets.DOCKER_USER }}/instrument_piece_api:latest .

      - name: Upload container to Docker Hub with Push
        run: docker push ${{ secrets.DOCKER_USER }}/instrument_piece_api:latest